# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# VSCode settings
.vscode/

# Local environment variables
.env

# Ignore your data file if it’s large (optional)
Medicine.csv

# macOS system files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

